.box {
    border: solid black 2px;
    padding: 5px;
    border-radius: 10px;
}

.photo {
    height: auto;
    width: 500px;
    margin: 0 auto;
}

.sign {
    white-space: pre-line;
}

.delete_form {
    font-size: 20px;
}

.user-list {
    font-size: 20px;
}

.note_danger {
    position: fixed;
    background-color: #f8d7da;
    z-index: 1;
    border-radius: 5px;
    border: solid 1px #f5c6cb;
}

.note_success {
    position: fixed;
    z-index: 1;
    border-radius: 5px;
    border: solid 1px #c3e6cb;
    color: #155724;
    background-color: #d4edda;
}

.hidden {
    font-size: 0px;
}