{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'webapp:photo_view' photo.pk %}">Отмена</a>
    </li>
{% endblock %}

{% block content %}
    <h1>Вы уверены, что хотите удалить эту картинку?</h1>
    <form class="delete_form" action="{% url "webapp:photo_delete" photo.pk %}" method="post">
        {% csrf_token %}
            <p><input class="btn btn-primary mx-2" type="submit" value="Да"><a class="btn btn-secondary" href="{% url 'webapp:photo_view' photo.pk %}">Отмена</a></p>
    </form>
    <div class="card my-4" style="width: 18rem">
            {% if photo.img %}
                <img class="photo" src="{{ photo.img.url }}" width="250" height="250" alt="picture">
            {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'accounts:detail' photo.author.pk %}">{{ photo.author }}</a></h5>
                    <h6>Подпись: <i>{{ photo.sign }}</i></h6>
                    <p class="date">Дата: {{ photo.date }}</p>
                    <a href="{% url 'webapp:photo_view' photo.pk%}">Подробнее</a>
                {% if user.is_authenticated %}
                    {% if perms.webapp.delete_task %}
                    <a href="{% url 'webapp:photo_delete' photo.pk%}">Удалить</a>
                        {% endif %}
                    {% if perms.webapp.change_task %}
                    <a href="{% url 'webapp:photo_update' photo.pk %}">Обновить</a>
                        {% endif %}
                {% endif %}
                </div>
            </div>
{% endblock %}